<article>
    <h4>{{ question.question }}</h4>
    {% if not check_question %}
        <p>{{ question.answer }}</p>
        <hr>
        <a href="{% url 'question-update' question.id %}" role="button">
        ✏️ Edit Question
        </a>
    {% else %}
        <details>
            <summary>Reveal Answer</summary>
            <p>{{ question.answer }}</p>
        </details>
        </hr>
        {% include "questions/question_check_form.html" with solved=True %}
        {% include "questions/question_check_form.html" with solved=False %}
    {% endif %}
 </article>