<article>
    <h4>{{ question.question }}</h4>
    {% if not check_question %}
        <p>{{ question.answer }}</p>
        <hr>
        <a href="{% url 'question-update' question.id %}" role="button">
        ✏️ Edit Question
        </a>
    {% else %}
        </hr>
        {% include "questions/question_check_form.html" with option=1 %}
        {% include "questions/question_check_form.html" with option=2 %}
        {% include "questions/question_check_form.html" with option=3 %}
        {% include "questions/question_check_form.html" with option=4 %}
    {% endif %}
 </article>